*{
	padding: 0;
	margin: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
    align-content: center;
    align-items: center;
}
body{
	font-family: 'Raleway', sans-serif;
	background-image: linear-gradient(to right,#CD853F,#DAA520,#b38e20,#D4AF37,#CFB53B,#996515);
}
/*navigation bar styling*/
h1{
    text-align: center;
	font-family: Candara;
	font-size: 60px;   
}

#aboutContent {
	text-align: center;
font-size: 18px;
}

nav{
	background: black;
	height: 80px;
	width: 100%;
}
.logo {
	width: 80px;
	float: left;
	margin-top: 0px;
}
nav ul{
	float: right;
	padding-right: 250px;
}
nav ul li{
	display: inline-block;
	line-height: 80px;
	margin: 0 20px;
}
nav ul li a{
	color: white;
	font-size: 17px;
	text-transform: uppercase;
}
nav ul li a:hover{
	background-color: #68685C;
	border-radius: 5px;
	opacity: 0.9;
	transition: .3s  ease;
}
.checkbtn{
	font-size: 30px;
	color: white;
	float: right;
	line-height: 80px;
	margin-right: 40px;
	cursor: pointer;
	display: none;
}
#check{
	display: none;
}

/*rotaion*/

@media (max-width: 952px){
	label.logo{
		font-size: 30px;
		padding-left: 50px;
	}
	nav ul li a{
		font-size:16px;
	}
}
@media (max-width: 858px){
	.checkbtn{
		display: block;
	}
	ul{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: #2c3e50;
		top: 80px;
		left: -100%;
		text-align: center;
		transition: all .5s;
        z-index: 1000;
	}
	nav ul li{
		display: block;
		margin: 50px 0;
		line-height: 30px;
	}
	nav ul li a{
		font-size: 20px;
	}
	#check:checked ~ ul{
		left: 0;
	}
} 
.title {
	text-align: center;

}
.title h1{
	color: #333333;
	text-transform: uppercase;
	position: relative;
	padding: 30px;
}
.column {
	float: left;
	width: 25%;
	padding: 10px;
	margin-top: 80px;
	align-content: center;
}

.image:hover{
	opacity: 0.5;
	width: 100%;
	height: auto;
	transition: .5s ease;
	backface-visibility: hidden;
}
.image {
	border: 3px solid ghostwhite;
	display: block;
}
.text {
	position: relative;
  	left: 30%;
  	text-align: center;
  	margin-left: -150px;
  	margin-bottom: -75px;
  	margin-top: -150px;
  	font-size: 25px;
  	font-weight: bold;
	color: ghostwhite;
	text-shadow: 3px 2px black;
	
}
.role1 {
	margin-left: 0px;
	margin-top: 3px;
}
.role2 {
	margin-left: 0px;
	margin-top: 3px;
}
.role3 {
	margin-left: 0px;
	margin-top: 3px;
}
.role4 {
	margin-top: 0px;
	margin-top: 3px;
}
.container {
	position: relative;
	height: 50px;
}
.container:hover .imageText {
	opacity: 1;
}
.imageText {
	transition: .5s ease;
	opacity: 0;
	left: 50%;
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	text-align: center;
	margin-left: 150px;
}

	
/*footer*/

footer{
	position: relative;
	width: 100%;
	height: auto;
	padding: 125px 80px;
	background: black;
	top: 400px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
footer .container{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
}
footer .container .sec{
	margin-right: 30px;
}
footer .container .sec.aboutus{
	width: 40%;
}
footer .container  h2{
	position: relative;
	color: #fff;
	font-weight: 500;
	margin-bottom: 15px;
}
footer .container  h2:before{
	content:'';
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 50px;
	height: 2px;
	background: #f00;
}
footer  p{
	color: #999;
}
#pgeditor{
	color: #999;
}
.social{
	margin-top: 20px;
	display: flex;
}
.social li{
	list-style: none;
}
.social li a{
	display: inline-block;
	width: 40px;
	height: 40px;
	background: #222;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	text-decoration: none;
	border-radius: 4px;
}
.social li a:hover{
	background: #f00;
}
.social li a .fa{
	color: #fff;
	font-size: 20px;
}
	
.quicklinks{
	position: relative;
	width: 25%;
}
.quicklinks ul li{
	list-style: none;
}
.quicklinks ul li a{
	color: #999;
	text-decoration: none;
	margin-bottom: 10px;
	display: inline-block;
}
.quicklinks ul li a:hover{
	color: white;
	transition: .3s  ease;
}
.contactinfo{
	width: auto;
	margin-right: 0 !important;
}
.contactinfo .info{
	position: relative;
}
.contactinfo.info li{
	display: flex;
	margin-bottom: 16px;
}
.contactinfo.info li span:nth-child(1){
	color: #fff;
	font-size: 20px;
	margin-right: 10px;
}
.contactinfo.info li span{
	color: #999;
}
.contactinfo.info li a{
	color: #999;
	text-decoration: none;
}
.contactinfo.info li a:hover{
	color: #fff;
}
.info{
	color: #999;
}
.copyright{
    position: relative;
    top: 100px;
	width: 100%;
	padding: 8px 100px;
	text-align: center;
	color: #999;
}
