*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Quicksand', sans-serif;
    background-image: linear-gradient(to right,#CD853F,#DAA520,#b38e20,#D4AF37,#CFB53B,#996515);
}

/* Utility stylings */
img{
    width: 100%;
    display: block;
}
.container{
    width: 88vw;
    margin: 0 auto;
}
.lg-title,
.sm-title{
    font-family: 'Roboto', sans-serif;
    padding: 0.6rem 0;
    text-transform: capitalize;
}
.lg-title{
    font-size: 2.5rem;
    font-weight: 500;
    text-align: center;
    padding: 1.3rem 0;
    opacity: 0.9;
}
.sm-title{
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
}


/* product section */
.products{
    padding: 3.2rem 0;
}
.products .text-light{
    text-align: center;
    width: 70%;
    margin: 0.9rem auto;
}
.product{
    margin: rem;
    position: relative;
    background-color: black;
}
.product-content{
    background:black;
    padding: 3rem 0.5rem 2rem 0.5rem;
    cursor: pointer;
}
.product-img{
    background:black;
    box-shadow: 0 0 20px 10px #d7d9d8;
    width: 270px;
    height: 200px;
    margin: 0 auto;
    border-radius: 50%;
    transition: background 0.5s ease;
}

.btn_1, .btn-buy{
    background: transparent;
    justify-content: center;
    border: 1px solid black;
    padding: 15px 0px 15px 15px;
    width: 100%;
    font-family: inherit;
    text-transform: uppercase;
    cursor: pointer;
    border: none;
    transition: all 0.6s ease;
}
.btn_1{
    background:orange;
    color: black;
}
.btn_1:hover{
    background:white;
}
.btn-buy{
    background: white;
    color: black;
}
.btn-buy:hover{
    background: orange;
    color: #fff;
}
.product-info, p, .product_name{
    background: black;
    padding: 2px 3px 5px 18px;
}
.product-info-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
.rating span{
    color: orange;
}
.product-name, h4{
    color: white;
    display: block;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}
.product-price , .product_price{
    text-align: center;
    padding-top: 0.6rem;
    padding-right: 0.6rem;
    display: inline-block;
    color: white;
}
.product-price:first-of-type{
    text-decoration: line-through;
    color: #5FE8B4;
}
.product-img img{
    transition: transform 0.6s ease;
}
.product:hover .product-img img{
    transform: scale(1.1);
}
.product:hover .product-img{
    background: orange;
}
.product:hover .product-btns{
    opacity: 1;
}
.off-info .sm-title{
    background:#5FE8B4;
    color: white;
    display: inline-block;
    padding: 0.5rem;
    position: absolute;
    top: 0;
    left: 0;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    z-index: 1;
    letter-spacing: 3px;
    cursor: pointer;
}


/* Media Queries */
@media screen and (min-width: 992px){
    .product-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
@media screen and (min-width: 1200px){
    .product-items{
        grid-template-columns: repeat(3, 1fr);
    }
    .product{
        margin-right: 1rem;
        margin-left: 1rem;
    }
}

@media screen and (min-width: 1336px){
    .product-items{
        grid-template-columns: repeat(4, 1fr);
    }
}
/* buy product css part end*/

/* Cart items */

.small_container {
  max-width: 100%;
  margin: auto;
    padding-left: 85px;
    padding-right: 15px;
}

.cart_page {
  margin: 5rem auto;
}

.cart_info {
  display: flex;
  flex-wrap: wrap;
  float: left;

}
.cart_product_name{
    color: aliceblue;
    font-size: 19px;
}
.cart_item_price{
    color: black;
    font-size: 20px;
    font-weight: 900;
}
.cart_item_quantity{
    color: black;
    
}
table {
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: left;
  padding:15px 15px 15px 15px;
  color: #5FE8B4;
  background-color: black;
  font-weight: normal;
    font-size: 25px
}
td {
  padding:  10px 25px 25px 25px;
  width: 60%;
}
td + td {
  width: auto;
}

td input {
  width: 40px;
  height: 30px;
  padding: 5px;
}
td a {
  font-size: 12px;
}
td img {
  width: 100px;
  height: 100px;
  margin-right: 50px;
  border-radius: 50%;
}
.total_cost {
  justify-content: flex-end;
  display: flex;
  background-color: black;
  color: #5FE8B4;
  font-size:20px;
}
.total_cost table {
  width: 100%;
  max-width: 350px;
}

td:last-child {
  text-align: right;
}

.btn_remove {
    background: #555555;
    box-shadow: 0px 4px 4px #000000;
    border: 0;
    border-radius: 10px;
    width: 60px;
    font-size: 12px;
    text-align: center;
    padding: 10px;
    margin: 2% 5% 0 5%;
    font-weight: 700;
    opacity: 0.9;
    transition: transform 0.5s, opacity 0.5s;
}

.btn_remove:hover{
    background:orange;
}
.but{
    background: #555555;
    color: black;
    box-shadow: 0px 4px 4px #000000;
    border: 0;
    border-radius: 10px;
    width: 120px;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    margin: 2% 5% 0 5%;
    font-weight: 700;
    opacity: 0.9;
    transition: transform 0.5s, opacity 0.5s;
}
.but:hover{
    background:orange;
}
  
	
/* Form  */
.formText{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight:500;
}
.user_details input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 6px solid #5FE8B4;
  background-color: black;
    color: white;
    
}

.formin input[type="text"]:focus {
  background-color: #5FE8B4;
}
    
.button{
    background: #555555;
    box-shadow: 0px 4px 4px #000000;
    border: 0;
    border-radius: 10px;
    width: 120px;
    font-size: 16px;
    text-align: center;
    padding: 10px;
    margin: 2% 5% 0 5%;
    font-weight: 700;
    opacity: 0.9;
    transition: transform 0.5s, opacity 0.5s;

}
.button:hover{
    background:orange;
}


